/* General */
@font-face {
  font-family: "Magic School One";
  src: url("https://www.github.com/EtoileLion/Project-Scripto/blob/master/artifacts/MagicSchoolOne.ttf?raw=true") format("truetype");
}

@font-face {
  font-family: "Minya Nouvelle";
  src: url("https://www.github.com/EtoileLion/Project-Scripto/blob/master/artifacts/minyanouvellerg.ttf?raw=true") format("truetype");
}

.sheet-section {
	border: 1px solid black;
	padding: 3px;
}
.sheet-row {
	margin-bottom: 3px;
}
.sheet-row:last-child {
	margin-bottom: 0px;
}
.sheet-flexcontainer {
	display: flex !important;
}
.sheet-smalltext {
	font-size: x-small;
}
.sheet-flexcontainer {
	display: flex;
}
.sheet-flex {
	flex: 1;
}
.sheet-sectionhead p {
    padding: 5px 0px 0px 5px;
}
.sheet-subtext {
	font-size: x-small;
	font-family: "Minya Nouvelle";
}
/* Font Shift */
.sheet-pictos {
	font-family: "Pictos";
}

.sheet-ms1,.sheet-sectionhead p,.sheet-name,.sheet-attrroll label {
    font-family: "Magic School One";
    font-size: x-large;
}
.sheet-minya,
.sheet-sigspellroll ~ p,
.sheet-sigspellroll,
.sheet-pet label,
.sheet-house label,
.sheet-family label,
.sheet-money label,
.sheet-looks label,
.sheet-wand label,
.sheet-conditions input + p,
.sheet-section ul,
.sheet-header label,
.sheet-charadv label {
    font-family: "Minya Nouvelle";
}

/* Header */
.sheet-header label {
	display: inline;
}
.sheet-header table {
    width: 100%;
}
.sheet-name {
    font-size: 48px;
    padding: 0px;
    border: none;
    color: black;
}
.sheet-pagetogglediv {
}
/* Attributes */
.sheet-5colrow {
	margin-bottom: 3px;
}
.sheet-5colrow .sheet-col {
	flex: 1;
	text-align: center;
}
.sheet-attrroll {
	display: block;
	background: transparent;
	border: none;
	margin: 0 auto 0 auto !important;
}
.sheet-attrroll:hover label {
	color: #880088;
}
.sheet-attrroll label {
	cursor: pointer;
	padding-top: 5px;
}
.sheet-attrroll::before {
	content: none !important;
}
.sheet-5colrow .sheet-col li {
	text-align: left;
	font-size: x-small;
}
.sheet-attrroll + input {
    border: none;
    font-size: xx-large;
    text-align: center;
}
/* Traits */
.sheet-negtraits,
.sheet-postraits {
	flex: 1
}
.sheet-traitbox {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 17px !important;
}
.sheet-traitbox input {
   position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;   
}
.sheet-traitbox span {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 17px;
  color: transparent;
}
.sheet-traitbox input ~ span:before {
    color: black;
    content: ")";
    font-family: "Pictos";
    margin-left:5px;
}
.sheet-traitbox input:checked ~ span:before {
  content: "(";
}
.sheet-traitbox ~ input {
    margin-left: 23px;
}

/* Conditions */
.sheet-conditions .sheet-flexcontainer p {
	flex: 1;
	display: inline;
}
.sheet-conditions div:nth-child(2) {
	padding-left: 5px;
}
/* XP */
.sheet-xp {
	width: auto;
}
.sheet-xpcontainer {
    text-align: center;
}
.sheet-xpbox {
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 17px !important;
}
.sheet-xpbox input {
   position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;   
}
.sheet-xpbox span {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 17px;
  color: transparent;
}
.sheet-xpbox input ~ span:before {
    color: #999;
    content: "S";
    font-family: "Pictos";
    margin-left:5px;
}
.sheet-xpbox input:checked ~ span:before {
  color: goldenrod;
}
.sheet-xpbox ~ input {
    margin-left: 22px;
}

.sheet-xp label {
	display: inline-block;
}
/* Wand */
.sheet-wand {
	flex: 1;
}

.sheet-wand div:not(:first-child) {
	display: inline-block;
}

.sheet-wand div:nth-child(4) input {
	width: 150px;
}
/* Looks */
.sheet-looks div:not(:first-child) {
	display: inline-block;
}
.sheet-looks {
	flex: 1;
}
/* Money */
.sheet-money {
	width: 150px;
}
.sheet-money input {
	margin-right: 2px;
}
/* Family */
.sheet-family {
    flex: 1;
}
.sheet-house {
    padding: 5px;
    flex: 1;
}
.sheet-family input[type='radio'] + label {
	display: inline;
}
/* Spells */
.sheet-sigspellroll {
	display: inline;
	background: transparent;
	border: none;
	margin: 0 auto 0 auto !important;
	cursor: pointer;
}
.sheet-sigspellroll label {
	cursor: pointer;
	font-size: 0.8em;
}
.sheet-sigspellroll:hover label {
	color: #880088;
}
.sheet-sigspellroll::before {
	content: none !important;
}
.sheet-sigspellroll + p {
	display:inline-block;
}

/* Pet */
.sheet-pet {
	flex: 1;
}
.sheet-pet > table {
	width: 100%;
}
.sheet-pet > textarea {
	width: 97%;
}
/* Items */
.sheet-inventory {
	width: 50%;
}
/* Relationships */

.sheet-relationships {
    width: 50%;
}

/* Notes */
.sheet-notes {
	flex: 1;
}
.sheet-notes textarea {
	width: 98%;
}
/* Bio */
.sheet-bio {
	flex: 1;
}
.sheet-bio textarea {
	width: 98%;
}

/* NPC Motivation */
.sheet-motivations {
	width: 100%;
}

/* Page Toggler */
.sheet-sheettype[value='npc'] ~ .sheet-pagetoggledivpc,
.sheet-pagetoggledivnpc,
.sheet-page {
	display: none;	
}
.sheet-sheettype[value='npc'] ~ .sheet-pagetoggledivnpc,
.sheet-sheetpage[value="npc"] ~ .sheet-pagenpc,
.sheet-sheetpage[value="1"] ~ .sheet-page1,
.sheet-sheetpage[value="2"] ~ .sheet-page2,
.sheet-sheetpage[value="3"] ~ .sheet-page3,
.sheet-sheetpage[value="4"] ~ .sheet-page4
{
	display: inline;
}

.sheet-pfcontainer {
    display: inline;
    position: relative;
    padding-left: 22px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sheet-pfcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.sheet-pfradio {
	position: absolute;
	top: 0;
	left: 0;
	height: 19px;
	width: 19px;
	background-color: #eee;
	border-radius: 25%;
	text-align: center;
}
.sheet-pfcontainer:hover input ~ .sheet-pfradio {
    background-color: #ccc;
}
.sheet-pfcontainer input:checked ~ .sheet-pfradio:after {
	display: block;
}
.sheet-sheetpage[value="npc"] ~ .sheet-pagenpc .sheet-pagetogglediv .sheet-pfcontainer input[value="npc"] ~ .sheet-pfradio,
.sheet-sheetpage[value="4"] ~ .sheet-page3 .sheet-pagetogglediv .sheet-pfcontainer input[value="4"] ~ .sheet-pfradio,
.sheet-sheetpage[value="3"] ~ .sheet-page3 .sheet-pagetogglediv .sheet-pfcontainer input[value="3"] ~ .sheet-pfradio,
.sheet-sheetpage[value="1"] ~ .sheet-page1 .sheet-pagetogglediv .sheet-pfcontainer input[value="1"] ~ .sheet-pfradio,
.sheet-sheetpage[value="2"] ~ .sheet-page2 .sheet-pagetogglediv .sheet-pfcontainer input[value="2"] ~ .sheet-pfradio {
	background-color: #800d6d;
	color: #aaa;
}

/* Electives */
.sheet-checklist,
.sheet-electiveblock:not(.sheet-electivenya) p,
.sheet-electiveblock select,
.sheet-electiveblock {
	display: none;
}

.sheet-inline,
.sheet-yearhidden[value="3"] ~ .sheet-elective3 select,
.sheet-yearhidden[value="4"] ~ .sheet-elective4 select,
.sheet-yearhidden[value="5"] ~ .sheet-elective5 select,
.sheet-yearhidden[value="6"] ~ .sheet-elective6 select,
.sheet-yearhidden[value="7"] ~ .sheet-elective7 select {
	display: inline;
}
.sheet-yearhidden:not([value="3"]) ~ .sheet-elective3 p,
.sheet-yearhidden:not([value="4"]) ~ .sheet-elective4 p,
.sheet-yearhidden:not([value="5"]) ~ .sheet-elective5 p,
.sheet-yearhidden:not([value="6"]) ~ .sheet-elective6 p,
.sheet-yearhidden:not([value="7"]) ~ .sheet-elective7 p {
	display: inline;
}

.sheet-elective_show[value="Unselected"] + p {
	display: none;
}

.sheet-yearhidden[value="0"] ~ .sheet-electivenya,
.sheet-yearhidden[value="1"] ~ .sheet-electivenya,
.sheet-yearhidden[value="2"] ~ .sheet-electivenya,
.sheet-yearhidden[value="3"] ~ .sheet-elective3,
.sheet-yearhidden[value="4"] ~ .sheet-elective3,
.sheet-yearhidden[value="4"] ~ .sheet-elective4,
.sheet-yearhidden[value="5"] ~ .sheet-elective3,
.sheet-yearhidden[value="5"] ~ .sheet-elective4,
.sheet-yearhidden[value="5"] ~ .sheet-elective5,
.sheet-yearhidden[value="6"] ~ .sheet-elective3,
.sheet-yearhidden[value="6"] ~ .sheet-elective4,
.sheet-yearhidden[value="6"] ~ .sheet-elective5,
.sheet-yearhidden[value="6"] ~ .sheet-elective6,
.sheet-yearhidden[value="7"] ~ .sheet-elective3,
.sheet-yearhidden[value="7"] ~ .sheet-elective4,
.sheet-yearhidden[value="7"] ~ .sheet-elective5,
.sheet-yearhidden[value="7"] ~ .sheet-elective6,
.sheet-yearhidden[value="7"] ~ .sheet-elective7,
.sheet-yearhidden[value="9"] ~ .sheet-elective3,
.sheet-yearhidden[value="9"] ~ .sheet-elective4,
.sheet-yearhidden[value="9"] ~ .sheet-elective5,
.sheet-yearhidden[value="9"] ~ .sheet-elective6,
.sheet-yearhidden[value="9"] ~ .sheet-elective7,
.sheet-yearhidden[value="0"] ~ .sheet-checklistnone,
.sheet-yearhidden[value="1"] ~ .sheet-checklistnone,
.sheet-yearhidden[value="2"] ~ .sheet-checklist24,
.sheet-yearhidden[value="3"] ~ .sheet-checklist24,
.sheet-yearhidden[value="4"] ~ .sheet-checklist24,
.sheet-yearhidden[value="5"] ~ .sheet-checklist57,
.sheet-yearhidden[value="6"] ~ .sheet-checklist57,
.sheet-yearhidden[value="7"] ~ .sheet-checklist57,
.sheet-yearhidden[value="9"] ~ .sheet-checklistfinal {
	display: block;
}

/* Checklist */
.sheet-checklist span {
	display: inline;
}
.sheet-checklist p {
	display: inline-block;
}
.sheet-checklist_carryone:not([value="on"]) + div,
.sheet-checklist_carrytwo:not([value="on"]) + .sheet-checklist_carrytwo:not([value="on"]) + div,
.sheet-checklist_carrythree:not([value="on"]) + .sheet-checklist_carrythree:not([value="on"]) + .sheet-checklist_carrythree:not([value="on"]) + div,
.sheet-checklist_carryfour:not([value="on"]) + .sheet-checklist_carryfour:not([value="on"]) + .sheet-checklist_carryfour:not([value="on"]) + .sheet-checklist_carryfour:not([value="on"]) + div,
.sheet-checklist_carryvalue:not([value="on"]) + span {
	display: none;
}
/* Roll Template */
.sheet-rolltemplate-pbta {
    background: linear-gradient(to right, purple,goldenrod);
    border-radius: 8px;
    width: 220px;
    padding: 5px;
}
.sheet-rolltemplate-cash {
    background: linear-gradient(to right, goldenrod,green);
    border-radius: 8px;
    width: 220px;
    padding: 5px;
}
.sheet-rolltemplate-cash table,
.sheet-rolltemplate-pbta table {
    background: #333;
    color: white;
    width: 100%;
    text-align:center;
}
.sheet-rolltemplate-cash .sheet-rolltemplate-byline,
.sheet-rolltemplate-pbta .sheet-rolltemplate-byline {
    font-size: x-small;
    text-align: center;
}
.sheet-rolltemplate-cash .inlinerollresult {
	color: white !important;
    background-color: transparent;
    border: none !important;	
}
.sheet-rolltemplate-pbta .sheet-rolltemplate-dielinesucc .inlinerollresult { 
    color: lightgreen !important;
    background-color: transparent;
    border: none;
}
.sheet-rolltemplate-pbta .sheet-rolltemplate-nameline,
.sheet-rolltemplate-cash .sheet-rolltemplate-nameline {
	font-family: Magic School One;
	font-size: x-large;
	padding-top: 4px;
}
.sheet-rolltemplate-pbta .sheet-rolltemplate-dielinepart .inlinerollresult { 
    color: gold !important;
    background-color: transparent;
    border: none;
}
.sheet-rolltemplate-pbta .sheet-rolltemplate-dielinefail .inlinerollresult { 
    color: crimson !important;
    background-color: transparent;
    border: none;
}