/* General */
@font-face {
  font-family: "Magic School One";
  src: url("https://www.shadowrequiem.space/fonts/MagicSchoolOne.ttf?raw=true") format("truetype");
}

@font-face {
  font-family: "Minya Nouvelle";
  src: url("https://www.shadowrequiem.space/fonts/minyanouvellerg.ttf?raw=true") format("truetype");
}

.section {
	border: 1px solid black;
	padding: 3px;
}
.row {
	margin-bottom: 3px;
}
.row:last-child {
	margin-bottom: 0px;
}
.flexcontainer {
	display: flex !important;
}
.smalltext {
	font-size: x-small;
}
.flexcontainer {
	display: flex;
}
.flex {
	flex: 1;
}
.sectionhead p {
    padding: 5px 0px 0px 5px;
}
.subtext {
	font-size: x-small;
	font-family: "Minya Nouvelle";
}
/* Font Shift */
.pictos {
	font-family: "Pictos";
}

.ms1,.sectionhead p,.name,.attrroll label {
    font-family: "Magic School One";
    font-size: x-large;
}
.minya,
.sigspellroll ~ p,
.sigspellroll,
.pet label,
.house label,
.family label,
.money label,
.looks label,
.wand label,
.conditions input + p,
.section ul,
.header label,
.charadv label {
    font-family: "Minya Nouvelle";
}

/* Header */
.header label {
	display: inline;
}
.header table {
    width: 100%;
}
.name {
    font-size: 48px;
    padding: 0px;
    border: none;
    color: black;
}
.pagetogglediv {
}
.header.flexcontainer {
	margin-bottom: 4px;
}
/* Attributes */
.fivecolrow {
	margin-bottom: 3px;
}
.fivecolrow .col {
	flex: 1;
	text-align: center;
}
.attrroll {
	display: block;
	background: transparent;
	border: none;
	margin: 0 auto 0 auto !important;
}
.attrroll:hover label {
	color: #880088;
}
.attrroll label {
	cursor: pointer;
	padding-top: 5px;
}
.attrroll::before {
	content: none !important;
}
.fivecolrow .col li {
	text-align: left;
	font-size: x-small;
}
.attrroll + input {
    border: none;
    font-size: xx-large;
    text-align: center;
}
.twocolrow {
	margin-bottom: 3px;
}
.twocolrow .col {
	width: calc(50% - 20px);
	display: inline-block;
}
.threecolrow .col {
	width: calc(33% - 10px);
	display: inline-block;
	text-align: center;
}
.charsheet .row {
	margin-left: 0px;
	margin-right: 0px;
}
/* Traits */
.negtraits,
.postraits {
	flex: 1
}
.traitbox {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 17px !important;
}
.traitbox input {
   position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;   
}
.traitbox span {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 17px;
  color: transparent;
}
.traitbox input ~ span:before {
    color: black;
    content: ")";
    font-family: "Pictos";
    margin-left:5px;
}
.traitbox input:checked ~ span:before {
  content: "(";
}
.traitbox ~ input {
    margin-left: 23px;
}

/* Conditions */
.conditions .flexcontainer p {
	flex: 1;
	display: inline;
}
.conditions div:nth-child(2) {
	padding-left: 5px;
}
/* XP */
.xp {
	width: auto;
}
.xpcontainer {
    text-align: center;
}
.xpbox {
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 17px !important;
}
.xpbox input {
   position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;   
}
.xpbox span {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 17px;
  color: transparent;
}
.xpbox input ~ span:before {
    color: #999;
    content: "S";
    font-family: "Pictos";
    margin-left:5px;
}
.xpbox input:checked ~ span:before {
  color: goldenrod;
}
.xpbox ~ input {
    margin-left: 22px;
}

.xp label {
	display: inline-block;
}
/* Wand */
.wand {
	flex: 1;
}

.wand div:not(:first-child) {
	display: inline-block;
}

.wand div:nth-child(4) input {
	width: 150px;
}
/* Looks */
.looks div:not(:first-child) {
	display: inline-block;
}
.looks {
	flex: 1;
}
/* Money */
.money {
	width: 150px;
}
.money input {
	margin-right: 2px;
}
/* Family */
.family {
    flex: 1;
}
.house {
    padding: 5px;
    flex: 1;
}
.family input[type='radio'] + label {
	display: inline;
}
/* Spells */
.sigspellroll {
	display: inline;
	background: transparent;
	border: none;
	margin: 0 auto 0 auto !important;
	cursor: pointer;
}
.sigspellroll label {
	cursor: pointer;
	font-size: 0.8em;
}
.sigspellroll:hover label {
	color: #880088;
}
.sigspellroll::before {
	content: none !important;
}
.sigspellroll + p {
	display:inline-block;
}

/* Pet */
.pet {
	flex: 1;
}
.pet > table {
	width: 100%;
}
.pet > textarea {
	width: 97%;
}
/* Items */
.inventory {
	width: 50%;
}
/* Relationships */

.relationships {
    width: 50%;
}

/* Notes */
.notes {
	flex: 1;
}
.notes textarea {
	width: 98%;
}
/* Bio */
.bio {
	flex: 1;
}
.bio textarea {
	width: 98%;
}

/* NPC Motivation */
.motivations {
	width: 100%;
}

/* Page Toggler */
.sheettype[value='npc'] ~ .pagetoggledivpc,
.pagetoggledivnpc,
.page {
	display: none;	
}
.sheettype[value='npc'] ~ .pagetoggledivnpc,
.sheetpage[value="npc"] ~ .pagenpc,
.sheetpage[value="1"] ~ .page1,
.sheetpage[value="2"] ~ .page2,
.sheetpage[value="3"] ~ .page3,
.sheetpage[value="4"] ~ .page4
{
	display: inline;
}

.pfcontainer {
    display: inline;
    position: relative;
    padding-left: 22px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pfcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.pfradio {
	position: absolute;
	top: 0;
	left: 0;
	height: 19px;
	width: 19px;
	background-color: #eee;
	border-radius: 25%;
	text-align: center;
}
.pfcontainer:hover input ~ .pfradio {
    background-color: #ccc;
}
.pfcontainer input:checked ~ .pfradio:after {
	display: block;
}
.sheetpage[value="npc"] ~ .pagenpc .pagetogglediv .pfcontainer input[value="npc"] ~ .pfradio,
.sheetpage[value="4"] ~ .page4 .pagetogglediv .pfcontainer input[value="4"] ~ .pfradio,
.sheetpage[value="3"] ~ .page3 .pagetogglediv .pfcontainer input[value="3"] ~ .pfradio,
.sheetpage[value="1"] ~ .page1 .pagetogglediv .pfcontainer input[value="1"] ~ .pfradio,
.sheetpage[value="2"] ~ .page2 .pagetogglediv .pfcontainer input[value="2"] ~ .pfradio {
	background-color: #800d6d;
	color: #aaa;
}

/* Electives */
.checklist,
.electiveblock:not(.electivenya) p,
.electiveblock select,
.electiveblock {
	display: none;
}

.inline,
.yearhidden[value="3"] ~ .elective3 select,
.yearhidden[value="4"] ~ .elective4 select,
.yearhidden[value="5"] ~ .elective5 select,
.yearhidden[value="6"] ~ .elective6 select,
.yearhidden[value="7"] ~ .elective7 select {
	display: inline;
}
.yearhidden:not([value="3"]) ~ .elective3 .elective_show:not([value="Unselected"]) + p,
.yearhidden:not([value="4"]) ~ .elective4 .elective_show:not([value="Unselected"]) + p,
.yearhidden:not([value="5"]) ~ .elective5 .elective_show:not([value="Unselected"]) + p,
.yearhidden:not([value="6"]) ~ .elective6 .elective_show:not([value="Unselected"]) + p,
.yearhidden:not([value="7"]) ~ .elective7 .elective_show:not([value="Unselected"]) + p {
	display: inline;
}

.yearhidden[value="0"] ~ .electivenya,
.yearhidden[value="1"] ~ .electivenya,
.yearhidden[value="2"] ~ .electivenya,
.yearhidden[value="3"] ~ .elective3,
.yearhidden[value="4"] ~ .elective3,
.yearhidden[value="4"] ~ .elective4,
.yearhidden[value="5"] ~ .elective3,
.yearhidden[value="5"] ~ .elective4,
.yearhidden[value="5"] ~ .elective5,
.yearhidden[value="6"] ~ .elective3,
.yearhidden[value="6"] ~ .elective4,
.yearhidden[value="6"] ~ .elective5,
.yearhidden[value="6"] ~ .elective6,
.yearhidden[value="7"] ~ .elective3,
.yearhidden[value="7"] ~ .elective4,
.yearhidden[value="7"] ~ .elective5,
.yearhidden[value="7"] ~ .elective6,
.yearhidden[value="7"] ~ .elective7,
.yearhidden[value="9"] ~ .elective3,
.yearhidden[value="9"] ~ .elective4,
.yearhidden[value="9"] ~ .elective5,
.yearhidden[value="9"] ~ .elective6,
.yearhidden[value="9"] ~ .elective7,
.yearhidden[value="0"] ~ .checklistnone,
.yearhidden[value="1"] ~ .checklistnone,
.yearhidden[value="2"] ~ .checklist24,
.yearhidden[value="3"] ~ .checklist24,
.yearhidden[value="4"] ~ .checklist24,
.yearhidden[value="5"] ~ .checklist57,
.yearhidden[value="6"] ~ .checklist57,
.yearhidden[value="7"] ~ .checklist57,
.yearhidden[value="9"] ~ .checklistfinal {
	display: block;
}

/* Checklist */
.checklist span {
	display: inline;
}
.checklist p {
	display: inline-block;
}
.checklist_carryone:not([value="on"]) + div,
.checklist_carrytwo:not([value="on"]) + .checklist_carrytwo:not([value="on"]) + div,
.checklist_carrythree:not([value="on"]) + .checklist_carrythree:not([value="on"]) + .checklist_carrythree:not([value="on"]) + div,
.checklist_carryfour:not([value="on"]) + .checklist_carryfour:not([value="on"]) + .checklist_carryfour:not([value="on"]) + .checklist_carryfour:not([value="on"]) + div,
.checklist_carryvalue:not([value="on"]) + span {
	display: none;
}
/* Roll Template */
.sheet-rolltemplate-pbta {
    background: linear-gradient(to right, purple,goldenrod);
    border-radius: 8px;
    width: 220px;
    padding: 5px;
}
.sheet-rolltemplate-cash {
    background: linear-gradient(to right, goldenrod,green);
    border-radius: 8px;
    width: 220px;
    padding: 5px;
}
.sheet-rolltemplate-cash table,
.sheet-rolltemplate-pbta table {
    background: #333;
    color: white;
    width: 100%;
    text-align:center;
}
.sheet-rolltemplate-cash .sheet-rolltemplate-byline,
.sheet-rolltemplate-pbta .sheet-rolltemplate-byline {
    font-size: x-small;
    text-align: center;
}
.sheet-rolltemplate-cash .inlinerollresult {
	color: white !important;
    background-color: transparent;
    border: none !important;	
}
.sheet-rolltemplate-pbta .sheet-rolltemplate-dielinesucc .inlinerollresult { 
    color: lightgreen !important;
    background-color: transparent;
    border: none;
}
.sheet-rolltemplate-pbta .sheet-rolltemplate-nameline,
.sheet-rolltemplate-cash .sheet-rolltemplate-nameline {
	font-family: Magic School One;
	font-size: x-large;
	padding-top: 4px;
}
.sheet-rolltemplate-pbta .sheet-rolltemplate-dielinepart .inlinerollresult { 
    color: gold !important;
    background-color: transparent;
    border: none;
}
.sheet-rolltemplate-pbta .sheet-rolltemplate-dielinefail .inlinerollresult { 
    color: crimson !important;
    background-color: transparent;
    border: none;
}